<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'manager/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{% static 'manager/css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'manager/css/base.css' %}">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'manager/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'manager/js/bootstrap.min.js' %}"></script>

    {% block special_static_files %}{% endblock %}
    <title>{% block title %}MyOrga{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">MyOrga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'manager/img/anonymous.png' %}" id="navbar-user-picture" class="img-responsive rounded-circle">&nbsp; Firstname Lastname
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profil</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="wrapper" class="menuDisplayed">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="{% block manager %}{% endblock %}">
                <a href="{% url 'manager:group-index' 1 %}">Manager</a>
            </li>
            <li class="{% block communication %}{% endblock %}">
                <a href="#">Communication</a>
            </li>
            <li class="{% block calendar %}{% endblock %}">
                <a href="#">Calendrier</a>
            </li>
        </ul>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

</body>
</html>