{% extends 'manager/base.html' %}
{% block title %}Manager{% endblock %}
{% block manager %}active{% endblock %}

{% block content %}
<nav id="tree-path-navbar" class="navbar navbar-expand-md navbar-light col-sm-12">
    <ul id="tree-path" class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <div class="row" id="tree-path-line">
                {% for ancestor in ancestors %}<a href="{% url 'manager:group-index' ancestor.id %}" >{{ ancestor.name }}</a>&nbsp; &gt; &nbsp;{% endfor %}
            </div>
            <div class="row" id="second-navbar-text">
                <div>
                    {% if not group.is_root_node %}
                        <a id="current-active-group" data-group-id="{{group.id}}" data-entity-id="{{group.parent.id}}" href="{% url 'manager:group-index' group.id %}">{{ group.name }}&nbsp;</a>
                    {% else %}
                        <a id="current-organization" data-group-id="{{group.id}}" href="{% url 'manager:group-index' group.id %}">{{ group.name }}&nbsp;</a>
                    {% endif %}
                    <a id="person-create-button" href="{% url 'manager:person-create' group_id=group.id %}"><i class="fas fa-user-plus"></i></a>&nbsp;
                    <a id="group-create-button" type="button" data-toggle="modal" data-target="#groupModal" href="#"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </li>
    </ul>
    <ul id="tree-path-actions" class="nav navbar-nav ml-auto col-sm-3 justify-content-end">
    </ul>
</nav>

<div id="groups-and-persons-wrapper" class="col-sm-12">
    <div id="groups-wrapper" data-moveto="{% url 'manager:group-moveto' %}" class="col-sm-12">
        <div class="row messages_wrapper">
            {% if warning_message %}
            <div class="alert alert-warning alert-dismissible fade show col-sm-12" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ warning_message }}
            </div>
            {% endif %}
            {% if success_message %}
            <div class="alert alert-success alert-dismissible fade show col-sm-12" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ success_message }}
            </div>
            {% endif %}
            {% if error_message %}
            <div class="alert alert-danger alert-dismissible fade show col-sm-12" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ error_message }}
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% for descendant in descendants %}
                <div class="group-wrapper align-self-start" data-type="group" data-entity-id="{{descendant.id}}">
                    <a href="{% url 'manager:group-index' descendant.id %}">
                        <div class="group-name-wrapper">
                            {{ descendant.name }}
                        </div>
                        <div class="group-picture-wrapper">
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="persons-wrapper" class="col-sm-12">
        <div class="row">
            {% for person in persons %}
                <div class="person-wrapper align-self-center" data-type="person" data-entity-id="{{person.id}}">
                    <a href="{% url 'manager:person-index' person.id %}">
                        <div class="person-name-wrapper card card-block">
                            {{ person }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'manager/group_deletion_modal.html' %}
{% include 'manager/group_creation_modal.html' %}
{% load staticfiles %}
<script src="{% static 'manager/js/group.js' %}"></script>
{% endblock %}