{% extends 'manager/base.html' %}
{% block title %}Manager{% endblock %}
{% block manager %}active{% endblock %}

{% block content %}
<nav id="tree-path-navbar" class="navbar navbar-expand-md navbar-light col-sm-12">
    <ul id="tree-path" class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <div class="row" id="tree-path-line">
                {% for ancestor in ancestors %}<a href="{% url 'manager:group-index' ancestor.id %}" >{{ ancestor.name }}</a>&nbsp; &gt; &nbsp;{% endfor %}
            </div>
            <div class="row" id="tree-path-current-group">
                {{ group.name }}
            </div>
        </li>
    </ul>
    <ul id="tree-path-actions" class="nav navbar-nav ml-auto col-sm-1">
        <li class="nav-item">
            <a href="#"><button class="btn btn-sm btn-light"><i class="fas fa-pencil-alt"></i></button></a>
        </li>&nbsp;
        <li class="nav-item">
            <a href="#"><button class="btn btn-sm btn-danger"><i class="fas fa-times"></i></button></a>
        </li>
    </ul>
</nav>

<div id="groups-wrapper" class="col-sm-12">
    <div class="row">
        {% for _ in "xxxxx" %}
            {% for descendant in descendants %}
                <div class="group-wrapper align-self-start">
                    <a href="{% url 'manager:group-index' descendant.id %}">
                        <div class="group-name-wrapper">
                            {{ descendant.name }}
                        </div>
                        <div class="group-picture-wrapper">
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<div id="persons-wrapper" class="col-sm-12">
    <div class="row">
        {% for _ in "xxxxxxxxx" %}
            {% for person in persons %}
                <div class="person-wrapper align-self-center">
                    <a href="#">
                        <div class="person-name-wrapper card card-block">
                            {{ person.user.username }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}