{% extends 'manager/base_visitor.html' %}
{% block title %}Inscription{% endblock %}
{% block register %}active{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 100px;">

    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <h3>Créer un compte</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'manager/form_template.html' %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Déjà un compte? <a href="#">Cliquez ici</a> pour se connecter.
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}